body {
	background: url('img/fon.png') repeat;
	background-size: auto 100%;
	font-family: Arial;
	margin: 0;
	padding: 0;
}
.wraper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1000px;
	margin: auto;
}

header {
	position: relative;
	width: 940px;
	height: 275px;
	padding: 40px 30px 0px;
	font-family: Times;
}

.head {
 	margin: 0;
 	min-width: 140px;
 	height: 200px;
 	float: left;
 }

.head .about-flowers a {
	text-decoration: none;
	border-bottom: 1px solid #bfacb2;
	color: #000000;
}

.head .logo {
	position: relative;
	width: 640px;
	text-align: center;
	vertical-align: middle;
	margin-top: 10px;
}

.head .logo .stick {
	position: absolute;
	left: 180px;
	top: -15px;
	font-size: 18px;
}

.head .decoration {
	font-family: Arial;
	font-size: 15px;
	background: #f2dae2;
	height: 25px;
	width: 340px;
	border-radius: 3px;
	box-shadow: 0px 1px 1px 0px #e3c7d1;
	margin: 35px auto 5px;
	padding-top: 7px;

}

.head .decoration span {
	border-bottom: 1px dashed #bfacb2;
}

#logo {
	width: 560px;
}

.phone span {
	font-size: 25px;
	vertical-align: middle;
}

.phone {
	font-family: Times;
}

.block1 {
	position: relative;
	height: 740px;
	width: 1000px;
	margin-bottom: 40px;
	overflow: hidden;
}

.block2 {
	margin-top: -90px;
	position: relative;
	height: 765px;
	width: 1000px;
}

.block3 {
	position: relative;
	width: 1000px;
	height: 880px;
}

.ph-1 {
	position: relative;
	width: 940px;
	z-index: -1;
	padding: 0px 30px;
	margin-bottom: 8px;
}

.ph-1::before,
.ph-2::before {
	position: absolute;
	content: "";
	width: 930px;
	border-bottom: 1px solid rgb(0, 0, 0);
	bottom: 12px;
	left: 50px;
	opacity: 0.3;
}

.ph-2 {
	z-index: -1;
	position: relative;
	margin-bottom: 5px;
}
.ph-2::before  {
	bottom: 12px;
	left: 27px;
	width: 950px;
}

.half{
	position: absolute;
	left: 0;
	top: 0;
 	margin: 0;
 	width: 495px;
 	height: 880px;
}

.half-1 {
	padding-left: 15px;
	z-index: 2;
}

.half-2 {
	height: 850px;
	left: 505px;
	padding-top: 30px;
	z-index: 1;

}

.half-description {
	width: 495px;
	height: 200px;
}


.ph-3 {
	padding-left: 20px;
	
}

.ph-32 {
	padding-right: 0px;
	
}


#photo-1 {
	width: 750px;
}

#photo-12 {
	position: absolute;
	width: 500px;
	left: 500px;
	top: 75px;
}

#photo-2{
	width: 950px;
	padding-left: 25px;
}

#photo-3 {
	width: 495px;
	height: 725px;
	transform: rotate(-1.5deg);
	box-shadow: 0px 35px 40px 0px rgba(105, 99, 117, 0.4);

}

#photo-32 {
	width: 445px;
	height: 680px;
	transform: rotate(1.5deg);
	margin-left: 25px;
}


#icon-shanti {
	height: 55px;
}

.order-position-bottom-left {
	position: absolute;
	top: 475px;
	left: 33px;
}

.order-position-top-right {
	position: absolute;
	top: -15px;
	right: 15px;
}

.order-click {
	position: absolute;
	vertical-align: middle;
	text-align: center;
	width: 220px;
	height: 245px;
	background: #f9e7ee;
	font-size: 13px;
	padding-top: 13px;
	border: 1px solid #efdde4;
	display: none;
}

.click {
	display: block;
}

.returner {
	position: absolute;
	right: 5px;
	top: -12px;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

.returner img {
	width: 20px;
	height: 20px;
}

.order {
	z-index: 2;
	vertical-align: middle;
	text-align: center;
	width: 220px;
	height: 130px;
	background: #ffffff;
	font-size: 13px;
	border: 1px solid #ffffff;
	padding-top: 13px;
}

.order p,
.order-click p {
	font-size: 38px;
	font-family: Times;
	padding-bottom: 10px;
	margin: 0;
}

.order-click input[type="tel"],
.order-click input[type="text"] {
	width: 165px;
	height: 30px;
	font-size: 14px;
	border: none;
	padding: 0;
	font-family: Arial;
	background-color: #f9e7ee;
	color: #9d9296;
	border-bottom: 1px solid #c7b9be;
	text-align: center;
	outline: none;
}

.order-click input[type="tel"] {
	margin-top: 5px;
}

.order-click input[type="text"] {
	margin-top: 15px;
	margin-bottom: 20px;
}

.order .name,
.order-click .name  {
	margin-bottom: 3px;
}

.order-click .btn {
	background: #ffffff;
	height: 30px;
	width: 160px;
	font-size: 13px;
	border-radius: 3px;
	border: none;
	box-shadow: 0px 1px 1px 0px #e3c7d1;
	margin-bottom: 15px;
}

.order .btn {
	background: #f9e7ee;
	height: 30px;
	width: 130px;
	font-size: 13px;
	border-radius: 3px;
	border: none;
	box-shadow: 0px 2px 1px 0px #e3c7d1;
	margin-bottom: 15px;
}

.description {
	width: 1000px;
	height: 150px;
	font-size: 13px;
}
 .column {
 	display: inline-block;
 	margin: 0;
 	width: 250px;
 	height: 130px;
 	float: left;

 }

 .column .filling {
 	width: 200px;
 	margin-left: 40px;
 	line-height: 20px;
 }

.block2 .description {
	height: 90px;
}

 .block2 .filling {
 	width: 330px;
 }


 .column .filling p,
 .half-description .filling p {
 	margin: 0px;
 }

.half-description .filling {
	width: 250px;
	line-height: 20px;
	margin-top: 15px;
	font-size: 13px;
	font-family: Arial;
	padding-left: 35px;
}


 .block3 .column1 .filling {
	margin-top: 30px;
 }

 .icon {
 	text-align: center;
 	font-size: 11px;
 }

 .flower-from-shanti span {
 	text-decoration: none;
	border-bottom: 1px solid #bfacb2;
 	color: #000000;
 }

 .block1 .icon .filling {
	position: absolute;
	width: 90px;
	right: 10px;
 }

 .block2 .icon .filling {
 	position: absolute;
	width: 90px;
	left: 10;
 }

span.title {
 	font-weight: bold;
 }

 span.red {
 	color: #e62351;
 }

 span.pink1 {
 	color: #db16bd;
 }

 span.pink2 {
 	color: #eb75dd;
 }

 span.yellow {
 	color: #ffa800;
 }

 span.purple {
 	color: #913dd2;
 }



footer {
	width: 1000px;
	height: 440px;
}

 .inform {
 	margin-top: 20px;
 	padding-top: 35px;
 	position: relative;
 	width: 1000px;
 	height: 300px;
 	margin-bottom: 30px;
 }

 .inform::before {
 	position: absolute;
	content: "";
	width: 970px;
	border-top: 1px solid rgb(0, 0, 0);
	top: 0px;
	left: 15px;
	opacity: 0.3;
 }

 .inf {
 	display: inline-block;
 	margin: 0;
 	width: 250px;
 	height: 200px;
 	float: left;
 }

 .inform .filling {
 	margin-left: 40px;
 	line-height: 20px;
 	font-size: 15px;
 	width: 190px;
 }

 .basement {
  	position: relative;
 	width: 1000px;
 	height: 130px;
 }

 .basement .filling {
 	margin-left: 40px;
 }

.year,
.contact,
.nothing,
.designer {
	font-family: Times;
 	display: inline-block;
 	margin: 0;
 	width: 250px;
 	height: 150px;
 	float: left;
}

.year {
	font-size: 15px;
}


.contact .filling {
	width: 160px;
	margin-left: 32px;
}

span.time {
	padding-left: 50px;
	font-size: 15px;
}

.designer .filling {
	font-size: 15px;
}








