body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova", sans-serif;
}

.section {
    margin: auto;
    min-width: 870px;
    max-width: 1180px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-bottom: 40px;
}

h2 {
	margin: 0;
	font-size: 36px;
}

.full-width,
.box-for-half {
	display: flex;
	min-width: 870px;
	width: 100%;
	max-width: 1180px;
	height: 100%;
}

.half-width {
	min-width: 425px;
	width: 48%;
	max-width: 590px;
	margin-right: 10px;
	height: 100%;
}

.full-width img {
	min-width: 550px;
	width: 65%;
	max-width: 760px;
	margin-right: 20px;
	height: 100%;
}

.half-width img {
	min-width: 425px;
	width: 100%;
	max-width: 560px;
	padding-bottom: 5px;
	height: 100%;
}

img.quote {
	min-width: 50px;
	width: 18%;
	max-width: 75px;
	height: 100%;
	margin: 25px 0px 0px 25px;
}

.full-width .about-coworkers,
.excerption-by-coworker {
	min-width: 280px;
	max-width: 410px;
}

.excerption-by-coworker {
	height:100%;
}

.quote {
	min-width: 280px;
	width: 100%;
	max-width: 410px;
}

.half-width .about-coworkers {
	min-width: 302px;
	width: 62%;
	max-width: 350px;
}

.coworkers-1,
.box-for-half,
.coworkers-4 {
	margin-top: 40px;
}

.coworkers p {
	margin: 0;
	padding: 0;
}

.about-coworkers {
	font-size: 18px;
}

.coworker-name {
	font-weight: bold;
	font-size: 24px;
}

.excerption-by-coworker {
	font-size: 24px;
}
