body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Proxima Nova", sans-serif;
}

.section {
    margin: auto;
    min-width: 1000px;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 50px;
}

.poster {
	position: relative;
	margin: 20px auto;
	padding: 35px 25px;
	width: 870px;
	background-color: #f6f3e6;
	border-radius: 2px;
}

.poster p {
	margin: 0px;
}

.top-part,
.fatty-h,
.details {
	width: 870px;
}

.top-part,
.responsible,
.details,
.row,
.row-foot,
.wappper-action-logo {
	display: flex;
}

.details {
	flex-direction: column;
}

span.head {
	font-weight: 600;
}

.top-part {
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 57px;
}

.more-than-office {
	width: 520px;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
}

.more-than-office p:nth-child(3) {
	-webkit-margin-before: 0.4em;
	-webkit-margin-after: 0.4em;
}

.responsible {
	width: 25%;
	justify-content: space-between;
}

.responsible .email-1 {
	margin-top: 5px;
}

.responsible .email-1,
.responsible .email-2 {
	line-height: 23px;
	color: #003cff;
	font-weight: 400;
	
}

.responsible .sign {
	width: 165px;
	font-size: 17px;
	line-height: 23px;
}

.responsible img {
	width: 63px;
	height: 63px;
}

.fatty-h {
	border-top: 10px solid black;
	margin-bottom: 250px;
	padding-top: 10px;
}

.fatty {
	font-size: 79px;
	font-weight: bolder;
	line-height: 65px;
	margin-left: -3px;
}

.lettering img {
	position: absolute;
	width: 870px;
	height: 520px;
	left: 6px;
	top: 295px;
}

.details {
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	margin-bottom: 20px;
}

.column {
	width: 25%;
	box-sizing: border-box;
	padding-right: 15px;
}

.column1,
.column2,
.column3,
.column4 {
	margin-bottom: 30px;
}

.column p:nth-child(2) {
	-webkit-margin-after: 0.5em;
}

.repulsive,
.wappper-action-logo {
	width: 50%;
}

.wappper-action-logo,
.row-foot {
	justify-content: space-between;
}

.row-foot {
	margin-top: -25px;
}

.row {
	width: 870px;
	flex-wrap: wrap;
}


.action {
	margin-top: 55px;
	width:260px;
}

.action .email {
	color: #003cff;
}

.signature {
	position: absolute;
	transform: rotate(-90deg);
	right: -72px;
	bottom: 170px;
	font-size: 17px;
	font-weight: 400;
	line-height: 23px;
	z-index: 100;
}

.logo {
	width: 143px;
	margin-right: 8px;
	position: relative;
}

.logo img {
	z-index: 200;
	width: 145px;
	position: relative;
	top: 0px;
	right: 0px;
}



